* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: #00003d;
}

.videoText {
  /* Tittle Video Club */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  color: white;
  font-size: 2.5rem;
}

.videoText:hover {
  color: purple;
}

.searchF {
  /*form search*/
  border-color: purple;
  background-color: transparent;
}

.searchF::placeholder {
  font-family: "Open Sans";
  font-style: italic;
  color: white;
}

.btnSearch {
  border-color: purple;
  color: white;
}

.btnSearch:hover {
  background-color: white;
  color: black;
  font-family: "Open Sans";
}
